.contactForm {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.input {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.phone_input {
  width: 80%;
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 85%;
}

.button:hover {
  background-color: #45a049;
}