#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-link {
  display: block;
  color: #646cff;
  text-decoration: none;
  margin-top: 30px;
}

.home-link:hover {
  text-decoration: underline;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  min-width: 250px;
  width: 100%;
}

.home-link-container {
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus,
button:focus {
  outline: none;
}

a:focus {
  outline: none;
}

.home-link:focus {
  color: #080896;
}

.button {
  width: 100%;
  margin: 0 auto;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #45a049;
}

.element-button {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.form-aria {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#email,
#password,
#name {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.home-link:hover {
  text-decoration: none;
  color: #272d8f;
}

.AuthNav a:hover {
  color: #272d8f;
}
